.account-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  max-width: 120px;
  position: absolute;
  top: 0;
  right: 60px;

  @media (min-width: $min-tablet-width) {
    right: 20px;
    max-width: 180px;
    position: static;
    margin-left: auto;
  }

  @media (min-width: $min-desktop-width) {
    right: 20px;
    max-width: 420px;
    column-gap: 20px;
  }
}

.account-list__link {
  display: block;
  width: 60px;
  height: 60px;
  padding: 22px;
  box-sizing: border-box;

  @media (min-width: $min-tablet-width) {
    height: 80px;
    width: auto;
    padding-top: 32px;
  }

  @media (min-width: $min-desktop-width) {
    width: auto;
    padding: 30px 18px;
  }

  &:hover .account-list__link-icon,
  &:focus .account-list__link-icon {
    fill: $additional-theme-color;
  }

  &:active {
    background-color: $border-color;

    .account-list__link-icon {
      fill: $additional-theme-color;
    }
  }
}

.account-list__naming {
  display: none;

  @media (min-width: $min-desktop-width) {
    display: inline-block;
    color: $main-text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    margin-left: 8px;
    text-align: center;
  }

  .account-list__link:hover &,
  .account-list__link:focus & {
    color: $additional-theme-color;
  }

  .account-list__link:active & {
    color: $additional-theme-color;
  }
}

.account-list__link-icon {
  fill: $main-text-color;
}
