.advantages {
  padding: 50px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $min-tablet-width) {
    padding: 60px 30px 100px;
  }

  @media (min-width: $min-desktop-width) {
    padding: 100px 40px 125px;
  }
}

.advantages__disclaimer {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: $additional-theme-color;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.advantages__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 36px;

  @media (min-width: $min-tablet-width) {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 60px;
  }

  @media (min-width: $min-desktop-width) {
    margin-bottom: 80px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 35px;

  @media (min-width: $min-tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 50px;
    justify-content: center;
  }

  @media (min-width: $min-desktop-width) {
    justify-content: start;
    column-gap: 29px;
  }
}

.advantages__item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  box-sizing: border-box;

  @media (min-width: $min-tablet-width) {
    max-width: 339px;
    align-items: start;
    padding-left: 72px;
    padding-top: 0;
    background-position: 0 0;
  }

  @media (min-width: $min-desktop-width) {
    max-width: 318px;
    align-items: center;
    padding-top: 72px;
    padding-left: 0;
    background-position: 50% 0;
  }

  &--speed {
    background-image: $advantage-speed-icon;
  }

  &--comfortable {
    background-image: $advantage-comfortable-icon;
  }

  &--energy {
    background-image: $advantage-energy-icon;
  }

  &--ecology {
    background-image: $advantage-ecology-icon;
  }
}

.advantages__item-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $min-tablet-width) {
    text-align: left;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }

  @media (min-width: $min-desktop-width) {
    text-align: center;
  }
}

.advantages__item-description {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $min-tablet-width) {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $min-desktop-width) {
    text-align: center;
  }
}
