.main-form__fieldset {
  border: 0;
  padding: 0;
  max-width: 320px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 27px;

  @media (min-width: $min-tablet-width) {
    margin-left: 0;
    margin-bottom: 29px;
  }
}

.main-form__legend {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 30px;
  }
}

.main-form__buttons {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  row-gap: 25px;
  margin: 0 auto;
  padding-top: 10px;
  box-sizing: border-box;
  margin-bottom: 36px;
  align-items: center;

  @media (min-width: $min-tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    flex-direction: row;
    max-width: 728px;
    column-gap: 30px;
  }

  @media (min-width: $min-desktop-width) {
    column-gap: 18px;
  }
}

.main-form__buttons-submit {
  padding: 10px 14px;
  font-size: 13px;
  line-height: 24px;
  width: max-content;
}

.main-form__buttons-reset {
  background-color: $main-theme-color;
  color: $additional-background-color;
  padding: 10px 15px;
  width: max-content;
  font-size: 14px;
  line-height: 24px;

  &:hover,
  &:focus,
  &:active,
  &:disabled {
    color: $main-theme-color;
  }

  &:disabled {
    background-color: $price-range-color;
  }
}
