.main-nav {
  @media (min-width: $min-tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.main-nav__toggle {
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-color: $main-theme-color;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;

  @media (min-width: $min-tablet-width) {
    display: none;
  }

  &:active {
    background-color: $border-color;
  }
}

.main-nav__added-menu {
  @media (min-width: $min-tablet-width) {
    flex-grow: 1;
  }

  @media (min-width: $min-desktop-width) {
    padding-left: 50px;
  }
}

.main-nav__added-menu--opened .main-nav__primer {
  min-width: $min-mobile-width;

  @media (max-width: $max-mobile-width) {
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: $main-theme-color;
    border-bottom: 1px solid #e6e6e6;
  }
}

.main-nav__added-menu--closed .main-nav__primer {
  @media (max-width: $max-mobile-width) {
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    z-index: 5;
    background-color: $main-theme-color;
  }
}

.main-nav__added-menu--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 22px;
  width: 16px;
  height: 2px;
  background-color: $main-text-color;
  box-shadow: 0 6px 0 0 $main-text-color, 0 12px 0 0 $main-text-color;
}

.main-nav__added-menu--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $main-text-color;
    top: 50%;
    left: 20px;
    width: 16px;
    height: 2px;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }
}

.main-nav__added-menu--nojs .main-nav__toggle {
  display: none;
}

.main-nav__added-menu--nojs .main-nav__primer {
  position: static;
  padding-top: 20px;
}
