@import "../../../node_modules/nouislider/dist/nouislider.css";


.noUi-handle::after {
  left: 8px;
}

.noUi-handle::before {
  right: 8px;
  left: auto;
}

.noUi-horizontal .noUi-handle {
  border-radius: 50%;
  border: 2px solid $additional-background-color;
  width: 24px;
  height: 24px;
  background-color: $main-theme-color;
  top: 50%;
  transform: translateY(-50%);

  &:hover::after,
  &:focus::after {
    display: none;
  }

  &:hover::before,
  &:focus::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: $hover-color;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &:active::before {
    content: "";
    background-color: $additional-background-color;
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}


.noUi-target {
  background-color: $price-range-color;
  height: 2px;
  margin-bottom: 35px;
  border: none;
}


.noUi-connect {
  background: $additional-background-color;
  height: 4px;
  top: -1px;
}


.noUi-base {
  height: 2px;
  position: relative;
}

.noUi-connects {
  overflow: visible;
}

.noUi-handle::after,
.noUi-handle::before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  top: 50%;
  transform: translateY(-50%);
}

