.page-footer__social {
  display: flex;
  padding: 20px;
  gap: 37px;
  align-items: center;
  margin: 0 auto;
  padding-top: 18px;

  @media (min-width: $min-tablet-width) {
    padding: 40px 20px 32px;
    justify-content: space-between;
    gap: 0;
  }

  @media (min-width: $min-desktop-width) {
    flex-direction: column;
    align-items: start;
    gap: 0;
    padding: 0;
    justify-content: start;
  }
}

.page-footer__copyright {
  padding: 10px 30px 20px;

  @media (min-width: $min-tablet-width) {
    padding: 10px 20px 40px;
  }

  @media (min-width: $min-desktop-width) {
    padding-bottom: 10px;
    padding-top: 0;
  }
}

.page-footer__nav {
  @media (min-width: $min-tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 20px;
    column-gap: 30px;
  }

  @media (min-width: $min-desktop-width) {
    column-gap: 40px;
  }
}

.page-footer__contacts {
  @media (min-width: $min-desktop-width) {
    display: flex;
    padding: 40px 40px;
  }

  @media (min-width: $min-desktop-width) {
    padding-bottom: 0;
  }
}
