.pagination__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
  padding-top: 40px;
  align-items: center;

  @media (min-width: $min-tablet-width) {
    padding-top: 68px;
    gap: 24px;
  }

  @media (min-width: $min-desktop-width) {
    padding-top: 57px;
    gap: 23px;
  }
}

.pagination__link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: $main-theme-color;
  padding: 8px;
  box-sizing: border-box;
  text-align: center;
  color: $additional-theme-color;
  font-size: 16px;
  line-height: 24px;

  &--current {
    font-weight: 600;
    color: $main-text-color;
    background-color: $catalog-background;

    @media (min-width: $min-desktop-width) {
      background-color: $main-theme-color;
    }
  }
}

.pagination__link:not(.pagination__link--current):hover,
.pagination__link:not(.pagination__link--current):focus {
  background-color: $additional-background-color;
  color: $main-theme-color;
}

.pagination__link:not(.pagination__link--current):active {
  background-color: $color-button-active;
  color: $main-theme-color;
}

.pagination__link:not(.pagination__link--current).disabled {
  background-color: $price-range-color;
  color: $main-theme-color;
}

.pagination__button {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: $main-theme-color;
  border: none;
  box-sizing: border-box;
  display: block;

  &--disabled {
    display: none;
  }

  &:disabled {
    background-color: $price-range-color;
  }

  @media (min-width: $min-tablet-width) {
    padding: 8px 20px;
    width: max-content;
    text-align: center;
  }

  &--back {
    background-image: url("/img/pagination-back.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &:hover,
    &:focus,
    &:active {
      background-image: url("/img/pagination-back-states.svg");

      @media (min-width: $min-tablet-width) {
        background-image: none;
      }
    }

    @media (min-width: $min-tablet-width) {
      background-image: none;
    }

    &:hover .pagination__button-text,
    &:focus .pagination__button-text,
    &:active .pagination__button-text,
    &:disabled .pagination__button-text {
      color: $main-theme-color;
    }
  }

  &--next {
    background-image: url("/img/pagination-next.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &:hover,
    &:focus,
    &:active {
      background-image: url("/img/pagination-next-states.svg");

      @media (min-width: $min-tablet-width) {
        background-image: none;
      }
    }

    @media (min-width: $min-tablet-width) {
      background-image: none;
    }

    &:hover .pagination__button-text,
    &:focus .pagination__button-text,
    &:active .pagination__button-text,
    &:disabled .pagination__button-text {
      color: $main-theme-color;
    }
  }
}

.pagination__button:hover,
.pagination__button:focus {
  background-color: $additional-background-color;
}

.pagination__button:active {
  background-color: $color-button-active;

  &--back {
    background-image: url("/img/pagination-back-states.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: $min-tablet-width) {
      background-image: none;
    }
  }

  &--next {
    background-image: url("/img/pagination-next-states.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: $min-tablet-width) {
      background-image: none;
    }
  }
}

.pagination__button-text {
  @media (max-width: $max-mobile-width) {
    display: none;
  }

  @media (min-width: $min-tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $additional-theme-color;
  }
}
