.price-range__wrapper {
  position: relative;
  width: 280px;
  height: 2px;
  background-color: $price-range-color;
  margin-bottom: 37px;

  @media (min-width: $min-tablet-width) {
    width: 220px;
  }

  @media (min-width: $min-desktop-width) {
    width: 318px;
    margin-bottom: 35px;
  }
}

.price-range__bar {
  position: absolute;
  left: 0;
  top: -1px;
  width: 241px;
  height: 4px;
  background-color: $additional-background-color;
  z-index: 2;

  @media (min-width: $min-tablet-width) {
    width: 180px;
  }

  @media (min-width: $min-desktop-width) {
    width: 274px;
  }
}

.price-range__toggle {
  position: absolute;
  border-radius: 50%;
  border: 2px solid $additional-background-color;
  width: 24px;
  height: 24px;
  background-color: $main-theme-color;

  &--min {
    top: -10px;
  }

  &--max {
    top: -10px;
    right: -20px;

    @media (min-width: $min-desktop-width) {
      right: -22px;
    }
  }

  &:hover::before,
  &:focus::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: $hover-color;
    top: 2px;
    left: 2px;
  }

  &:active::before {
    content: "";
    background-color: $additional-background-color;
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 2px;
  }
}

.price-range.disabled {
  & .price-range__wrapper > .price-range__bar {
    background-color: $icon-color;

    & > .price-range__toggle {
      border: 2px solid $icon-color;
    }
  }
}

.price-range {
  padding-left: 5px;

  @media (min-width: $min-desktop-width) {
    padding-left: 0;
  }
}
