.price-value__input {
  border: 2px solid $additional-background-color;
  padding: 9px 15px;
  background-color: $main-theme-color;
  width: 118px;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-family: inherit;
  color: $main-text-color;

  @media (min-width: $min-tablet-width) {
    width: 92px;
  }

  @media (min-width: $min-desktop-width) {
    width: 134px;
  }

  &::placeholder {
    color: $price-range-color;
  }

  &:disabled {
    border: 2px solid $icon-color;
    color: $icon-color;
  }

  &:focus {
    border: 2px solid $color-button-active;
  }
}

.price-value {
  display: flex;
  max-width: 280px;
  column-gap: 44px;
  position: relative;

  @media (min-width: $min-tablet-width) {
    column-gap: 35px;
    max-width: 220px;
  }

  @media (min-width: $min-desktop-width) {
    column-gap: 50px;
    max-width: 318px;
  }

  &::after {
    content: "";
    width: 9px;
    height: 2px;
    background-color: $icon-color;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4px;
  }
}

.price-value__input[type="number"] {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: textfield; /* Firefox */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: textfield; /* Chrome, Safari, Edge */
  appearance: textfield;
}

/* Specific styles to remove spinners for Chrome, Safari, Edge */
.price-value__input[type="number"]::-webkit-inner-spin-button,
.price-value__input[type="number"]::-webkit-outer-spin-button {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
  margin: 0;
}

/* Specific styles to remove spinners for Firefox */
.price-value__input[type="number"]::-moz-focus-inner {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  border: 0;
}

