.promo {
  width: 100%;
  background-color: $background-color;
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $min-tablet-width) {
    height: 828px;
  }

  @media (min-width: $min-desktop-width) {
    height: 714px;
  }

  @media (max-width: $max-tablet-width) {
    .swiper-pagination-bullets {
      display: none;
    }
  }


  & .promo__container--second {
    background-color: $slider-background;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      background: linear-gradient(to bottom, $slider-background 77%, $main-theme-color 77%);
    }
  }

  & .promo__container--first {
    background-color: $background-color;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      background: linear-gradient(to bottom, $background-color 77%, $main-theme-color 77%);
    }
  }

  & .promo__container--third {
    background-color: $slider-background-additional;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      background: linear-gradient(to bottom, $slider-background-additional 77%, $main-theme-color 77%);
    }
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
  padding: 20px 85px 60px 85px;
  align-content: center;
  row-gap: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $min-tablet-width) {
    padding: 60px 50px 0;
    row-gap: 0;
    flex-wrap: nowrap;
  }

  @media (min-width: $min-desktop-width) {
    flex-direction: row;
    padding: 35px 100px 0;
  }
}

.promo__disclaimer {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: $additional-theme-color;
  margin: 0 auto;
  margin-bottom: 5px;

  @media (min-width: $min-desktop-width) {
    margin-right: auto;
    margin-left: 0;
  }
}

.promo__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;

  @media (min-width: $min-tablet-width) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 18px;
  }
}

.promo__description {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 5px;

  @media (min-width: $min-tablet-width) {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  @media (min-width: $min-desktop-width) {
    text-align: left;
    margin-bottom: 40px;
  }
}

.promo__slider-button {
  display: block;
  width: 20px;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  border: none;

  &--left {
    left: 0;

    &:hover,
    &:focus {
      background: linear-gradient(90deg, $main-theme-color 0%, $slider-hover-color 100%);
    }

    &:active {
      background: linear-gradient(90deg, $hover-color 0%, $slider-active-color 100%);
    }
  }

  &--right {
    right: 0;

    &:hover,
    &:focus {
      background: linear-gradient(-90deg, $main-theme-color 0%, $slider-hover-color 100%);
    }

    &:active {
      background: linear-gradient(-90deg, $hover-color 0%, $slider-active-color 100%);
    }
  }
}

.promo__image-image {
  width: 280px;
  height: 280px;
  display: block;
  object-fit: contain;

  @media (min-width: $min-tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $min-desktop-width) {
    width: 600px;
    height: 600px;
    padding-left: 65px;
  }
}

.promo__image {
  margin: 0 auto;

  @media (min-width: $min-tablet-width) {
    order: 1;
  }

  @media (min-width: $min-desktop-width) {
    order: 0;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $min-desktop-width) {
    align-items: start;
    padding-top: 145px;
    padding-left: 35px;
  }
}

.promo .swiper-pagination-bullet {
  width: 62px;
  height: 4px;
  background-color: $main-theme-color;
  border-radius: 0%;
  opacity: 1;
}

.promo .swiper-pagination-bullet-active {
  background-color: $additional-theme-color;
}
