// используется для отмены встроенных стилей swiper.js

.swiper-button-next::after {
  content: url("../../img/slider-right.svg");
  position: absolute;
  top: 46%;
  right: 50px;

  @media (min-width: $min-tablet-width) {
    top: 35%;
    right: 45%;
  }

  @media (min-width: $min-desktop-width) {
    top: 40%;
    right: 45%;
  }
}

.swiper-button-prev::after {
  content: url("../../img/slider-left.svg");
  position: absolute;
  top: 46%;
  left: 50px;

  @media (min-width: $min-tablet-width) {
    top: 35%;
    right: 45%;
  }

  @media (min-width: $min-desktop-width) {
    top: 40%;
    right: 45%;
  }
}

.swiper-button-disabled.swiper-button-next::after {
  content: url("../../img/slider-right-disabled.svg");
}

.swiper-button-disabled.swiper-button-prev::after {
  content: url("../../img/slider-left-disabled.svg");
}

.swiper-button-next,
.swiper-button-prev {
  left: auto;
  height: 656px;
  top: 20px;
  width: 80px;

  @media (min-width: $min-tablet-width) {
    height: 828px;
    width: 80px;
  }

  @media (min-width: $min-desktop-width) {
    height: 714px;
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullets {
  @media (min-width: $min-desktop-width) {
    bottom: 70px;
  }
}
