@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Montserrat";
  
    font-display: swap;
    src: url("../fonts/montserrat-regular.woff") format("woff");
    src: url("../fonts/montserrat-regular.woff2") format("woff2");
  }
  
  @font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Montserrat";
  
    font-display: swap;
    src: url("../fonts/montserrat-alternates-bold.woff") format("woff");
    src: url("../fonts/montserrat-alternates-bold.woff2") format("woff2");
  }
