//fonts
$text-font: "Arial", sans-serif;
$main-font: "Montserrat", $text-font;

//colors
$main-theme-color: #ffffff;
$main-text-color: #333333;
$icon-color: #bdbdbd;
$additional-theme-color: #7859cf;
$border-color: #f0ebff;
$additional-background-color: #9070ec;
$hover-color: rgba(120, 89, 207, 0.25);
$background-color: #f3ebe1;
$catalog-background: #f8f8f8;
$price-range-color:  #e2e2e2;
$hover-color-additional: rgba(0, 0, 0, 0.15);
$slider-background: #eae6fc;
$slider-background-additional: #e5e6e8;
$color-button-active: #593cac;
$slider-active-color: rgba(120, 89, 207, 0);
$slider-hover-color: rgba(255, 255, 255, 0);

//width dimensions
$min-tablet-width: 768px;
$min-mobile-width: 320px;
$min-desktop-width: 1440px;
$max-mobile-width: 767px;
$max-tablet-width: 1439px;

// decorative icons
$advantage-speed-icon: url("../../img/speed.svg");
$advantage-comfortable-icon: url("../../img/comfortable.svg");
$advantage-energy-icon: url("../../img/energy.svg");
$advantage-ecology-icon: url("../../img/ecology.svg");

$retina: 2dppx;
